@use "../../../styles/index.scss" as *;

.bg-all {
  min-height: 100vh;
  background: $bg-dark;
  display: block;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        circle at 20% 30%,
        rgba(192, 37, 255, 0.25),
        transparent 60%
      ),
      radial-gradient(
        circle at 80% 80%,
        rgba(255, 61, 122, 0.2),
        transparent 60%
      );
    pointer-events: none;
  }
}

.navbar {
  background-color: rgba(0, 0, 0, 0.205) !important;

  & * {
    color: $white !important;

    &:hover {
      color: $pink !important;
    }
  }

  // Dropdown
  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.205) !important;
    border: none !important;
    backdrop-filter: blur(8px);
  }

  .dropdown-item {
    color: $white !important;

    &:hover {
      background-color: rgba(255, 61, 122, 0.1) !important;
      color: $pink !important;
    }

  }
  .logoNav {
    height: 70px;       // tamanho perfeito p/ header moderno
    width: auto;
    object-fit: contain;
    display: block;

    transition: transform 0.2s ease, opacity 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      opacity: 0.85;
    }
  }
  & .navbar-toggler {
    color: $white;
  }
}
